{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.4.2"
    }
  }
}
